<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GoogleLoding.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4EEF78E01BB3D80F00F0E02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEF78F41BB3D80F00F0E02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4EEF78FF1BB3D81000F0E02D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
